
        body{margin: 0%;
            background-image: url(images/background.jpg);
            background-size: contain;
            
        }

       #top{
        display: flex;
        flex-direction: row;
        padding-left: 1.5%;
        
    
        /* background-color: rgb(21, 21, 21); */
          
        margin-bottom: 0%;
        position: relative;
        
    }

    

  
    

    #image{
        height: 60px;
      margin-right: 3%;
      margin-top: 3%;

    }
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-family: 'Heebo', sans-serif;
    
    }

    li a{
        text-decoration: none;
        font-size: 23px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        border-radius: 5px;
        
        
    }

    li a:hover{
        background-color: rgb(255, 255, 255);
        color: black;
        transition-duration: 0.4s;
    }

  #content{
      height: 350px;
      width: 40%;
      display: flex;
      padding-left: 30%;
      text-align: center;
      flex-direction: column;
      font-size: larger;
      padding-top: 6%;
      font-family: 'Rubik', sans-serif;
      color: white;
      padding-bottom: 1.5%;
  }

  #b2{
    font-family: 'Anek Telugu', sans-serif;
      text-decoration: none;
      color: white;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      background-color: maroon;
      margin-left: 45%;
      border-radius: 8px;
    font-size: 20px;
    
  }

  #b2:hover{
    box-shadow: 6px 5px 8px rgb(0, 0, 0);

                   transition-duration: 0.4s;
                   
  }

  #box2{
      background-color: white;
      margin-top: 3%;
      padding-bottom: 30%;
      padding-top: 1%;
      
      padding-bottom: 2%;
      
    
  }

  #l1{
      border: 4px solid brown;
      width: 30%;
      margin-top: 3%;
      text-align: center;
      margin-right: 2%;
      margin-left: 2%;
      padding-top: 2%;
      border-radius: 7px;
      background-color: rgb(227, 237, 246);
      cursor: pointer;
  }

  #l2{
      border: 4px solid brown;
      width: 30%;
      margin-top: 3%;
      text-align: center;
    border-radius: 7px;
      padding-top: 1%;
      background-color: rgb(227, 237, 246);
      cursor: pointer;
    }

      #l3{
      border: 4px solid brown;
      width: 30%;
      margin-top: 3%;
      text-align: center;
      border-radius: 7px;
      margin-left: 2%;
      background-color: rgb(227, 237, 246);
      cursor: pointer;
    }

  #img1{
      height: 160px;
      /* border: 2px solid black; */
      margin-top: 2%;
     
    
  }
  #img2{
      height: 195px;
      /* border: 2px solid black; */
      margin-top: 2%;
    
  }

  #img3{
      height: 240px;
      /* border: 2px solid black; */

  }

  #h2{
      display: flex;
      justify-content: center;
      font-family: 'Inter', sans-serif;
    
  }
  #serveices{
      display: flex;
      flex-direction: row;
      height: 30%;
      font-family: 'Rubik', sans-serif;
  }

#l1:hover{
    background-color: rgb(241, 248, 255);
    transition-duration: 0.4s;
}

#l2:hover{
    background-color: rgb(241, 248, 255);
    transition-duration: 0.4s;
}

#l3:hover{
    background-color: rgb(241, 248, 255);
    transition-duration: 0.4s;
}

  #p1{
      width: 70%;
      display: flex;
      padding-left: 17%;
      font-size: x-large;
  }

  h2{
      font-size:xx-large ;
      
  }

  
  #p2{
      width: 70%;
      display: flex;
      padding-left: 17%;
      font-size: x-large;
  }



  #p3{
      width: 70%;
      display: flex;
      padding-left: 17%;
      font-size: x-large;
  }

  #li1{
      height: 25px;
  }
 
  #li2{
      height: 25px;
  }

  #li3{
height: 20px;
  }

  #li4{
      height: 25px;
  }

  #icons{
      display: flex;
      justify-content: center;
      margin-top: 3%;
  }

  #footer{
      color: rgb(79, 79, 79);
      display: flex;
      justify-content: center;
      margin-top: 3%;
      margin-bottom: 0%;
      font-family: 'Anek Telugu', sans-serif;
    
  }

  title{
    font-family: 'Heebo', sans-serif;
  }

@media screen and (max-width: 800px) {
    body{
        background-size: cover;
    }

}

@media screen and (max-width: 800px) {
    #erveices{
        display: block;
        flex-direction: column;
    }
}
  
      
